<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Users</title>
<link href="/static/admin/css/bootstrap-datetimepicker.css"
	rel="stylesheet" />
<script src="/static/admin/js/moment-with-locales.js"></script>
<script src="/static/admin/js/bootstrap-datetimepicker.js"></script>
<script th:inline="javascript">
	$(function() {
		$('#datetimepicker').datetimepicker({
			locale : 'vi',
			format : 'DD/MM/YYYY',
		});
	});

	function loadDistrict() {
		var provinceId = $("#provinceId option:selected").val();
		var url = '/admin/common/loadDistrict?provinceId=' + provinceId;
		$.ajax({
			url : url,
			type : 'GET',
			cache : false,
			success : function(data) {
				$('#districtDiv').html(data);
				loadRegion();
			}
		});
	}

	function loadRegion() {
		var districtId = $("#districtId option:selected").val();
		var url = '/admin/common/loadRegion?districtId=' + districtId;
		$.ajax({
			url : url,
			type : 'GET',
			cache : false,
			success : function(data) {
				$('#regionDiv').html(data);
			}
		});
	}
</script>
</head>
<body>
	<!--main content start-->
	<section id="main-content" layout:fragment="content"
		style="min-height: 700px">
		style="min-height: 700px">
		<section class="wrapper">

			<h4 style="margin-bottom: 20px">
				<i class="fa fa-tasks"></i> <span>Quản lý khách hàng cá nhân</span>
			</h4>

			<div>
				<section class="panel">

					<header class="panel-heading">Cập nhập khách hàng</header>

					<div class="panel-body">
						<form role="form" class="form-horizontal" th:object="${user}"
							th:action="@{/admin/users}" method="post">

							<input type="hidden" th:name="id" th:value="${user.id}" />

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tên khách
									hàng</label>
								<div class="col-lg-10">
									<input th:name="name" type="text" class="form-control"
										th:value="${user.name}" id="name" placeholder="Tên khách hàng">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Mã khách
									hàng:</label>
								<div class="col-lg-10">
									<input th:name="userCode" type="text" class="form-control"
										th:value="${user.userCode}" id="userCode"
										placeholder="Mã khách hàng">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Số chứng
									minh thư nhân dân:</label>
								<div class="col-lg-10">
									<input th:name="idCard" type="text" class="form-control"
										th:value="${user.idCard}" id="idCard"
										placeholder="Số chứng minh thư nhân dân">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Số điện
									thoại:</label>
								<div class="col-lg-10">
									<input th:name="phoneNumber" type="text" class="form-control"
										th:value="${user.phoneNumber}" id="phoneNumber"
										placeholder="Số điện thoại">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Số nhà:</label>
								<div class="col-lg-10">
									<input th:name="addressNo" type="text" class="form-control"
										th:value="${user.addressNo}" id="no" placeholder="Số nhà">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Ngõ:</label>
								<div class="col-lg-10">
									<input th:name="addressLand" type="text" class="form-control"
										th:value="${user.addressLand}" id="lane" placeholder="Ngõ">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Ngách:</label>
								<div class="col-lg-10">
									<input th:name="addressAlley" type="text" class="form-control"
										th:value="${user.addressAlley}" id="alley" placeholder="Nghách">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Hẻm:</label>
								<div class="col-lg-10">
									<input th:name="addressAlley2" type="text"
										th:value="${user.addressAlley2}" class="form-control" id="alley2"
										placeholder="Hẻm">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Đường
									phố, Khu ĐT (xóm, thôn, tổ):</label>
								<div class="col-lg-10">
									<input th:name="addressStreet" type="text" class="form-control"
										th:value="${user.addressStreet}" id="street"
										placeholder="Đường phố, Khu ĐT (xóm, thôn, tổ)">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tỉnh/Thành
									phố</label>
								<div class="col-lg-10">
									<select class="form-control m-bot15" id="provinceId"
										onchange="loadDistrict()">
										<option value="-1">-- Chọn Tỉnh/Thành phố --</option>
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:if="${p.id==user.region?.district?.province?.id}" selected />
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:unless="${p.id==user.region?.district?.province?.id}" />
									</select>
								</div>
							</div>

							<div id="districtDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Quận/huyện/thị
										xã</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" id="districtId"
											onchange="loadRegion()">
											<option value="-1">-- Chọn Quận/huyện/thị xã --</option>
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:if="${d.id==user.region?.district?.id}" selected
												th:text="${d.name}" />
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:unless="${d.id==user.region?.district?.id}"
												th:text="${d.name}" />
										</select>
									</div>
								</div>
							</div>

							<div id="regionDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Khu vực</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" th:name="region">
											<option value="-1">-- Chọn Khu vực --</option>
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:if="${r.id==user.region?.id}" selected
												th:text="${r.name}" />
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:unless="${r.id==user.region?.id}" th:text="${r.name}" />
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-info"
										th:if="${action!='view'}">Cập nhập</button>
									<a href="/admin/users" class="btn btn-info">Quay lại</a>
								</div>
							</div>
						</form>
					</div>
				</section>

			</div>

		</section>
	</section>
</body>