<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Users</title>
</head>
<body>
	<!--main content start-->
	<section id="main-content" layout:fragment="content"
		style="min-height: 700px">
		<section class="wrapper">

			<h4 style="margin-bottom: 20px">
				<i class="fa fa-tasks"></i> <span>Quản lý khách hàng cá nhân</span>
			</h4>

			<a
				th:href="@{'/admin/users/redirect?action=viewCreateForm&id=' + ${user.id}}"
				class="btn btn-info" style="margin-bottom: 10px;">TẠO ĐƠN ĐỀ
				NGHỊ</a>

			<!--  -->
			<a th:href="@{'/admin/users/loadAssign?id=' + ${user.id}}"
				class="btn btn-info" style="margin-bottom: 10px;">Gán thiết bị</a>

			<div>
				<section class="panel">

					<header class="panel-heading">Thông tin khách hàng</header>

					<div class="panel-body" style="font-size: 14px">

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Tên khách
								hàng:</label>
							<div>
								<span th:text="${user.name}"></span> <br
									th:if="${user.name==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Mã khách
								hàng:</label>
							<div>
								<span th:text="${user.userCode}"></span> <br
									th:if="${user.userCode==null|| user.userCode==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">CMTND:</label>
							<div>
								<span th:text="${user.idCard}"></span> <br
									th:if="${user.idCard==null||user.idCard==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Số điện
								thoại:</label>
							<div>
								<span th:text="${user.phoneNumber}"></span> <br
									th:if="${user.phoneNumber==null||user.phoneNumber==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Địa chỉ:</label>
							<div>
								<span th:text="${address}"></span>
                                <br th:if="${address==null||address==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Tỉnh/Thành
								phố:</label>
							<div>
								<span th:text="${user.region?.district?.province?.name}"></span>
								<br
									th:if="${user.region?.district?.province?.name==null||user.region?.district?.province?.name==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Quận/huyện/thị
								xã:</label>
							<div>
								<span th:text="${user.region?.district?.name}"></span> <br
									th:if="${user.region?.district?.name==null||user.region?.district?.name==''}" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Khu vực</label>
							<div>
								<span th:text="${user.region?.name}"></span> <br
									th:if="${user.region?.name==null||user.region?.name==''}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-offset-2">
								<a href="/admin/users" class="btn btn-info">Quay lại</a>
							</div>
						</div>
					</div>
				</section>

			</div>

		</section>
	</section>
</body>