<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403</title>
    <link href="/static/frontend/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/frontend/css/bootstrap-reset.css" rel="stylesheet"/>
    <link href="/static/frontend/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>

<body class="error">
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>403</h1>
        </div>
        <p class="lead text-muted">Rất tiếc, đã xảy ra lỗi. Trang không tồn tại hoặc bạn không có quyền truy cập!</p>
        <div class="clearfix"></div>
        <div class="sr-only">
            &nbsp;
        </div>
        <br>
    </div>
</div>
</body>

</html>