<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Agent</title>
<link href="/static/admin/css/bootstrap-datetimepicker.css"
	rel="stylesheet" />
<script src="/static/admin/js/moment-with-locales.js"></script>
<script src="/static/admin/js/bootstrap-datetimepicker.js"></script>
<script th:inline="javascript">
	function loadDistrict() {
		var provinceId = $("#provinceId option:selected").val();
		var url = '/admin/common/loadDistrict?provinceId=' + provinceId;
		$.ajax({
			url : url,
			type : 'GET',
			cache : false,
			success : function(data) {
				$('#districtDiv').html(data);
				loadRegion();
			}
		});
	}

	function loadRegion() {
		var districtId = $("#districtId option:selected").val();
		var url = '/admin/common/loadRegion?districtId=' + districtId;
		$.ajax({
			url : url,
			type : 'GET',
			cache : false,
			success : function(data) {
				$('#regionDiv').html(data);
			}
		});
	}
</script>
</head>
<body>
	<!--main content start-->
	<section id="main-content" layout:fragment="content"
		style="min-height: 700px">
		<section class="wrapper">

			<h4 style="margin-bottom: 20px">
				<i class="fa fa-tasks"></i> <span>Quản lý khách hàng doanh
					nghiệp</span>
			</h4>

			<div>
				<section class="panel">

					<header class="panel-heading">Cập nhập khách hàng</header>

					<div class="panel-body">
						<form role="form" class="form-horizontal" th:object="${agent}"
							th:action="@{/admin/agent}" method="post">

							<input type="hidden" th:name="id" th:value="${agent.id}" />

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tên khách
									hàng</label>
								<div class="col-lg-10">
									<input th:name="agentName" type="text" class="form-control"
										th:value="${agent.agentName}" id="agentName"
										placeholder="Tên khách hàng">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Số điện
									thoại:</label>
								<div class="col-lg-10">
									<input th:name="phoneNumber" type="text" class="form-control"
										th:value="${agent.phoneNumber}" id="phoneNumber"
										placeholder="Số điện thoại">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Người đại
									diện:</label>
								<div class="col-lg-10">
									<input th:name="representative" type="text"
										class="form-control" th:value="${agent.representative}"
										id="representative" placeholder="Người đại diện">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Chức vụ:</label>
								<div class="col-lg-10">
									<input th:name="function" type="text" class="form-control"
										th:value="${agent.function}" id="function"
										placeholder="Chức vụ">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Địa chỉ
									trụ sở:</label>
								<div class="col-lg-10">
									<input th:name="agentAddress" type="text" class="form-control"
										th:value="${agent.agentAddress}" id="agentAddress"
										placeholder="Địa chỉ trụ sở">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tài khoản
									số:</label>
								<div class="col-lg-10">
									<input th:name="bankAccount" type="text" class="form-control"
										th:value="${agent.bankAccount}" id="bankAccount"
										placeholder="Tài khoản số">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tại ngân
									hàng:</label>
								<div class="col-lg-10">
									<input th:name="bank" type="text" class="form-control"
										id="bank" th:value="${agent.bank}" placeholder="Tại ngân hàng">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Mã số
									thuế:</label>
								<div class="col-lg-10">
									<input th:name="taxCode" type="text" class="form-control"
										id="taxCode" th:value="${agent.taxCode}"
										placeholder="Mã số thuế">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tỉnh/Thành
									phố</label>
								<div class="col-lg-10">
									<select class="form-control m-bot15" id="provinceId"
										onchange="loadDistrict()">
										<option value="-1">-- Chọn Tỉnh/Thành phố --</option>
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:if="${p.id==agent.region?.district?.province?.id}"
											selected />
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:unless="${p.id==agent.region?.district?.province?.id}" />
									</select>
								</div>
							</div>

							<div id="districtDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Quận/huyện/thị
										xã</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" id="districtId"
											onchange="loadRegion()">
											<option value="-1">-- Chọn Quận/huyện/thị xã --</option>
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:if="${d.id==agent.region?.district?.id}" selected
												th:text="${d.name}" />
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:unless="${d.id==agent.region?.district?.id}"
												th:text="${d.name}" />
										</select>
									</div>
								</div>
							</div>

							<div id="regionDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Khu vực</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" th:name="region">
											<option value="-1">-- Chọn Khu vực --</option>
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:if="${r.id==agent.region?.id}" selected
												th:text="${r.name}" />
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:unless="${r.id==agent.region?.id}" th:text="${r.name}" />
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<button type="submit" class="btn btn-info"
										th:if="${action!='view'}">Cập nhập</button>
									<a href="/admin/agent" class="btn btn-info">Quay lại</a>
								</div>
							</div>
						</form>
					</div>
				</section>

			</div>

		</section>
	</section>
</body>