<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Company</title>
</head>
<body>
	<!--main content start-->
	<section id="main-content" layout:fragment="content"
		style="min-height: 700px">
		<section class="wrapper">

			<h4 style="margin-bottom: 20px">
				<i class="fa fa-tasks"></i> <span>Quản lý Công ty nước</span>
			</h4>

			<div>
				<section class="panel">

					<header class="panel-heading">Thông tin Công ty nước</header>

					<div class="panel-body">
						<form role="form" class="form-horizontal" th:object="${company}"
							th:action="@{/admin/company}" method="post">

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tên công ty</label>
								<div class="col-lg-10">
									<input th:name="name" type="text" class="form-control"
										th:value="${company.name}" id="code" placeholder="Tên công ty nước"
										disabled="disabled">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Địa chỉ</label>
								<div class="col-lg-10">
									<input th:name="address" type="text" class="form-control"
										th:value="${company.address}" id="address"
										placeholder="Địa chỉ" th:required="required" disabled="disabled">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Số điện
									thoại</label>
								<div class="col-lg-10">
									<input th:name="phoneNumber" type="text" class="form-control"
										th:value="${company.phoneNumber}" id="phoneNumber"
										placeholder="Số điện thoại" th:required="required"
										disabled="disabled">
								</div>
							</div>

							<div class="form-group">
								<label class="col-lg-2 col-sm-2 control-label">Tỉnh/Thành
									phố</label>
								<div class="col-lg-10">
									<select class="form-control m-bot15" id="provinceId"
										onchange="loadDistrict()" disabled="disabled">
										<option value="-1">-- Chọn Tỉnh/Thành phố --</option>
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:if="${p.id==company.region?.district?.province?.id}"
											selected />
										<option th:each="p : ${provinces}" th:value="${{p}}"
											th:text="${p.name}"
											th:unless="${p.id==company.region?.district?.province?.id}" />
									</select>
								</div>
							</div>

							<div id="districtDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Quận/huyện/thị
										xã</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" id="districtId"
											disabled="disabled" onchange="loadRegion()">
											<option value="-1">-- Chọn Quận/huyện/thị xã --</option>
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:if="${d.id==company.region?.district?.id}" selected
												th:text="${d.name}" />
											<option th:each="d : ${districts}" th:value="${{d}}"
												th:unless="${d.id==company.region?.district?.id}"
												th:text="${d.name}" />
										</select>
									</div>
								</div>
							</div>

							<div id="regionDiv">
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label">Khu vực</label>
									<div class="col-lg-10">
										<select class="form-control m-bot15" th:name="region"
											disabled="disabled">
											<option value="-1">-- Chọn Khu vực --</option>
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:if="${r.id==company.region?.id}" selected
												th:text="${r.name}" />
											<option th:each="r : ${regions}" th:value="${{r}}"
												th:unless="${r.id==company.region?.id}" th:text="${r.name}" />
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<a href="/admin/company" class="btn btn-info">Quay lại</a>
								</div>
							</div>
						</form>
					</div>
				</section>

			</div>

		</section>
	</section>
</body>